.job-create-container {
  margin-bottom: 30px;
}

.job-create-header {
  margin-bottom: 20px;

  h1 {
    margin-bottom: 8px;
    font-weight: 500;
  }

  p {
    color: #666;
    margin: 0;
  }
}

.job-create-card {
  margin-bottom: 20px;
}